//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-block;
  background: $mainOrange;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: rem(3);
  font-weight: 600;
  font-size: rem(20);
  text-align: center;
  padding: rem(9) rem(10);
  line-height: math.div(32, 20);
  transition: box-shadow 0.3s ease 0s;
  color: #fff;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.63);
    }
  }
}
