.product-new {
  position: relative;
  background: url('@img/new-products/bg2.jpg') bottom / cover no-repeat;
  &::before {
    content: '';
    position: absolute;
    background: #fff;
    @include adaptiveValue('height', 46, 21);
    right: 0;
    top: -1px;
    width: percent(1030, 1925);
  }
  // .product-new__inner
  &__inner {
    @include adaptiveValue('padding-bottom', 45, 20);
  }
  // .product-new__container
  &__container {
    display: grid;
    row-gap: rem(30);
    @media (min-width: $tablet) {
      grid-template-columns: rem(400) 1fr;
      align-items: start;
    }
  }
  // .product-new__body
  &__body {
    // @include adaptiveValue('padding-right', 50, 30);
    @include adaptiveValue('padding-top', 60, 30);
    @media (min-width: $tablet) {
      padding-right: rem(50);
    }
    // &::before {
    //   content: '';
    //   background: url('@img/new-products/bg.jpg') 0 0 no-repeat;
    //   height: 100%;
    //   width: 100vw;
    // }
  }
  // .product-new__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    color: #fff;
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .product-new__text
  &__text {
    font-size: rem(18);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 60, 20);
    }
  }
  // .product-new__link
  &__link {
  }
  // .product-new__content
  &__content {
    min-width: 0;
    @include adaptiveValue('padding-top', 100, 30);

    // padding: rem(100) 0px 0 0px;
  }

  // .product-new__slider
  &__slider {
    // @include adaptiveValue('padding-top', 100, 40);
    // padding: rem(20);
    // margin: 0 rem(-25);
  }
  // .product-new__wrapper
  &__wrapper {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 50, 20);
    }
  }
  // .product-new__slide
  &__slide {
  }
  // .product-new__dotts
  &__dotts {
    position: relative;
    z-index: 3;
    // display: grid;
    // grid-auto-flow: column;
    // justify-content: center;
    // transform: translate(0px, 15%);
    // margin: 0px auto;
    // overflow: hidden;
    // .swiper-pagination-bullet {
    //   margin: 0 rem(7.5);
    //   cursor: pointer;
    //   height: rem(30);
    //   width: rem(18);
    //   position: relative;
    //   transition: all 0.3s ease 0s;
    //   // border: 2px solid #ffffff;
    //   &::after {
    //     content: '';
    //     height: rem(3);
    //     position: absolute;
    //     width: 100%;
    //     top: 50%;
    //     transform: translate(0, -50%);
    //     background-color: #898989;
    //   }
    //   &::before {
    //     content: '';
    //     background-color: $mainOrange;
    //     width: rem(10);
    //     height: rem(10);
    //     top: 50%;
    //     left: 0;
    //     border-radius: 50%;
    //     transform: translate(0, -50%);
    //     position: absolute;
    //     opacity: 0;
    //   }
    // }
    // .swiper-pagination-bullet-active {
    //   // border: 2px solid $mainOrange;
    //   // width: rem(30);
    //   &::after {
    //     content: '';
    //     background-color: $mainOrange;
    //   }
    //   &::before {
    //     opacity: 1;
    //     transition: left 3s linear 0s;
    //     left: rem(8);
    //   }
    // }
  }
}
